<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
<head>
<div><h1 style="text-align: center;">POWER CONSUMPTION PREDICTOR</h1>
<img src="/static/smartgrid9.jpg" width="2028" height="320" alt="MACHINE LEARNING FOR POWER GRID">

</head>
<body>
        <div><h3>
		
		<html> 
<style> 
    
      
    form { 
        border: 3px solid #f1f1f1; 
    } 
   
    input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    } 
      
    button { 
        background-color:Tomato ; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        border: none; 
        cursor: pointer; 
		width: 100%; 
    } 
      
    button:hover { 
        opacity: 0.8; 
    } 
      
    .cancelbtn { 
        width: auto; 
        padding: 10px 18px; 
        background-color: Tomato; 
    } 
      
    
      
    .container { 
        padding: 50px; 
    } 
      
    span.psw { 
        float: right; 
        padding-top: 16px; 
    } 
      
    @media screen and (max-width: 300px) { 
        span.psw { 
            display: block; 
            float: none; 
        } 
        .cancelbtn { 
            width: 150%; 
        } 
    } 
</style style="text-align: center;">  
  
<body> 
  
    <h2 style="text-align: center;">Login</h2> 
    <form action="/test" method="post" id = 'login-details'> 
        <div class="container"> 
            <label><b>Username</b></label> 
            <input type="text" placeholder="Enter Username" name="uname" required> 
  
            <label><b>Password</b></label> 
            <input type="password" placeholder="Enter Password" name="psw" required> 
  
            <button type="submit">Login</button> 
            <input type="checkbox" checked="checked"> Remember me 
        </div> 
  
        <div class="container" style="background-color:#f1f1f1"> 
            <button type="button" class="cancelbtn">Cancel</button> 
            <span class="psw">Forgot <a href="#">password?</a></span> 
        </div> 
    </form> 
  
</body> 
  
</html>
